{:company/legal-name "Enel S.p.A."
 :company/lei "WOCMU6HCI0OJWNPRZS33"
 :company/jurisdiction "IT"
 :company/website "https://www.enel.com"
 :company/ticker "ENEL (Borsa Italiana) / ENLAY (NYSE ADR)"}
