[["enel-tos-1" :tos/full-text "Legal disclaimers | Enel Group 
 Enel Group 
 Enel group 
 Group websites 
 Enel Green Power
 Producing clean energy with renewable sources
 Enel Global Energy and Commodity Management
 Mitigating commodity trading risks at global scale
 Enel Open Innovability®
 A global ecosystem that leverages Innovability® to power the future
 Enel Global Procurement
 We maximize value creation through our relationships with suppliers
 Enel Foundation
 Knowledge platform for a clean energy world
 Enel Cuore
 We support the initiatives undertaken by NPOs
 Ethical Channel
 Providing ways to report violation of our policies
 Country websites 
 Americas
 Argentina
 Brasil
 Chile
 Colombia
 Iberia
 Italy
 Mexico
 North America
 Follow us 
 Facebook 
 Twitter 
 YouTube 
 LinkedIn 
 Instagram 
 Skip to Main Content 
 Company
 Media
 Investors
 Careers
 Enel 
 {{navigationCta.text}} 
 {{currentSuggestions.title}} 
 {{item}} 
 {{item.text}} 
 {{navigationCta.text}} 
 Enel Group 
 Enel group 
 Group websites 
 Enel Green Power
 Producing clean energy with renewable sources
 Enel Global Energy and Commodity Management
 Mitigating commodity trading risks at global scale
 Enel Open Innovability®
 A global ecosystem that leverages Innovability® to power the future
 Enel Global Procurement
 We maximize value creation through our relationships with suppliers
 Enel Foundation
 Knowledge platform for a clean energy world
 Enel Cuore
 We support the initiatives undertaken by NPOs
 Ethical Channel
 Providing ways to report violation of our policies
 Country websites 
 Americas
 Argentina
 Brasil
 Chile
 Colombia
 Iberia
 Italy
 Mexico
 North America
 Follow us 
 Facebook 
 Twitter 
 YouTube 
 LinkedIn 
 Instagram 
 Skip to Main Content 
 Company
 Media
 Investors
 Careers
 {{jsonLinks.section}}
 {{jsonLinks.section}} 
 {{item.label}} 
 {{jsonLinks.section}}
 {{jsonLinks.section}} 
 {{item.label}} 
 Enel group 
 Legal disclaimers 
 Enel is actively engaged in the continuous work of updating the content on this website. Should any of the texts, information, published data, and links to other websites be found to be inaccurate, incomplete, or not up to date, readers are reminded that the content exists solely for information purposes and has no value of an official nature.<br>
 Enel is not responsible for errors or omissions of any kind, or for any direct, indirect, or accidental damage that may arise from the access to or use of information published on the website, or from the access to or use of any material found in other websites.</p>\">
 Company
 Company 
 About 
 Our business 
 Commitments 
 Join us 
 All stories 
 More about us
 More about us 
 Locations 
 Management team 
 Our story 
 Vision 
 Media
 Media 
 Press releases 
 News 
 Photos 
 Videos 
 Our Brand 
 Sustainable Power
 Sustainable Power 
 Continuous improvement 
 #AsktheProfessor 
 Power for sports 
 Sustainability and Innovation
 Sustainability and Innovation 
 Sustainable Development Goals 
 Letter to Stakeholders 
 Circular Economy 
 Innovation Hubs 
 Open Innovability® 
 Investors
 Investors 
 Overview 
 Strategy 
 Financial 
 Investing 
 Sustainability 
 Governance 
 Careers
 Careers 
 Home 
 Being Enel 
 Teams 
 Students 
 Jobs 
 Credits 
 Legal 
 Privacy Policy 
 Cookie Policy 
 Accessibilty 
 English 
 Select your language 
 English 
 Spanish 
 Italian 
 © Enel Spa All Rights Reserved Enel Spa VAT code 15844561009 
 icons.tikTok.title 
 icons.tikTok.desc 
 Facebook 
 Desktop Icon 
 Twitter 
 Youtube 
 Messenger 
 Linkedin 
 Instagram 
 Shared Link Icon 
 Checkmark Icon 
 Chevron Icon 
 right arrow 
 left arrow 
 Close Icon 
 Add Icon 
 Increase Icon 
 Arrow Oblique Icon 
 Arrow Down Icon 
 Search Icon 
 icons.alternativeSearch.title 
 icons.alternativeSearch.desc 
 Share Icon 
 Filter Icon 
 Email icon 
 Icon Email Outline 
 Icon Phone Outline 
 Icon Fax Outline
 Print icon 
 User icon 
 An icon representing a user 
 Info Icon 
 Icon Thumb Up 
 Icon Thumb Down Up 
 Icon Thumb Down Outline
 Icon Phone 
 Icon Emergency 
 Icon Thumb Down 
 icons-list-view-title 
 Icon Map View 
 Icon Pause 
 Play button icon 
 An icon representing a Play button 
 Pause button icon 
 Pause button icon 
 Pause button icon 
 Pause button icon 
 Blue circle icon 
 An icon representing a blue circle 
 Green triangle icon 
 Green triangle icon 
 Red square icon 
 An icon representing a red square 
 Logout button icon 
 An icon representing a Logout button 
 Eye Outline icon 
 An icon for show password 
 Eye icon 
 An icon for show password 
 Chart line icon 
 Marker Cuore 
 Icon indicating Cuore map pin 
 Cluster pin Cuore 
 Icon indicating different points of interest in the area 
 Lens icon 
 Filter icon 
 Map pin 
 Icon that indicates a map marker 
 camera icon 
 An icon representing a camera
 Headphones icon 
 An icon representing an headphones
 Document icon 
 An icon representing a document
 camera icon 
 An icon representing a camera
 Headphones icon 
 An icon representing an headphones
 Document icon 
 An icon representing a document
 Facebook 
 Youtube 
 Linkedin 
 Instagram" 1 :add]
 ["enel-tos-1" :tos/source-url "https://www.enel.com/legal-disclaimers" 1 :add]
 ["enel-tos-1" :tos/retrieved-at "2026-07-19T08:36:33Z" 1 :add]
 ["enel-tos-1" :tos/sha256 "aa506ec12e6882ccd52d6a30360f14e54bc91c5ba882041201b76568bdcbed5a" 1 :add]
 ["enel-tos-1" :tos/doc-type :legal-disclaimer 1 :add]]
